*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex; /* 1 */
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center; /* 1.1 */
  align-items: center; /* 1.1 */
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex; /* 2 */
  width: 1140px; /* 1.3 */
  gap: 30px; /* 1.3 */
  justify-content: space-between; /* 1.2 */
  align-items: flex-end; /* 1.2*/
}

/* main */
/* section result */

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  min-width: 711px; /* 2.1 */
  height: 386px; /* 2.1 */
}

.result__video { /* 2.2 */
  width: 100%; /* 2.2 */
  height: 100%; /* 2.2 */
  object-fit: cover; /* 2.2 */
}

/* css for search-form */

.search-form {
  display: flex; /* 1.4 */
  justify-content: space-between; /* 1.4 */
  align-items: flex-start; /* 1.4 */
}

.search-form__fieldset {
  border: none; /* 4a.1 */
}

.search-form__fieldset-title { /* 3.1 */
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex; /* 4b.1 */
  align-items: center; /* 4b.2 */
  width: fit-content; /* 4b.3 */
  gap: 5px;  /* 4b.4 */
  cursor: pointer; /* 7 */
}

/* .search-form__label-text {} */

.visually-hidden {
  position: absolute; /* 4 */
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Definition of text_input */

.search-form__textfield {
  appearance: none; /* 4c.6 */
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400; /* 4c.1 */
  font-size: 18px; /* 4c.1 in figma 18px */
  line-height: 25px; /* 4c.1 */
  border: none; /* 4c.2 */
  border-top: 1px solid #fff; /* 4c.2 */
  border-bottom: 1px solid #fff; /* 4c.2 */
  color: #fff; /* 4c.3 */
  background-color: transparent; /* 4c.5 */
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7); /* 4c.4 */
}

/* Definition of checkboxes */

.search-form__checkbox-list{
  display: flex; /* 4a.1 */
  gap: 15px; /* 4a.1 */
}

/* .search-form__checkbox {} */

.search-form__pseudo-checkbox {
  width: 19px; /* 4d.1 */
  height: 19px; /* 4d.1 */
  border: 1px solid #fff; /* 4d.1 */
  padding: 1px; /* 4d.1 */
}

.search-form__pseudo-checkbox::after {
  content: ''; /* 4d.2 */
  display: block; /* 4d.2 */
  background-color: #fff; /* 4d.2 */
  width: 100%; /* 4d.2 */
  height: 100%; /* 4d.2 */
  opacity: 0; /* 4d.2 */
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after, /* ??? */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {  /* 4d.3 */
  content: '';
  opacity: 1;
}

.button {
  font: 700 18px/32px 'Fira Sans Condensed'; /* 5.1 */
  color: #fff; /* 5.1 */
  background-color: transparent; /* 5.1 */
  border: 1px solid #fff; /* 5.1 */
  cursor: pointer; /* 7 */
}

.search-form__submit-button {
  width: 194px; /* 5.3 */
  align-self: flex-end; /* 5.3 */
}

/* section content__details */

.content__details {
  width: 100%;
  height: 100%; /* 1.6 */
}

.title {
  font: 700 75px/70px Oswald; /* 3.2 */
  text-transform: uppercase; /* 3.2 */
  margin-bottom: 23px; /* 3.2 */
}

.content__accent {
  color: #545050; /* 3.2 */
}

/* ------------------------- */

.content__list-container { /* сюда прикручивается scroll-bar */
  position: relative;
  display: flex; /* 2.4 */
  flex-direction: column; /* 2.4 */
  height: 298px; /* 1.5 */
  overflow-y: auto; /* 1.5 */
  gap: 30px; /* 2.4 */
  padding-bottom: 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px; /* 2.3 */
}

.content__list-item {
  padding: 0 3px 0 2px; /* 6 */
}

.content__card-link {
  display: block; /* 6 */
  color: #fff; /* 3.3 */
  text-decoration: none; /* 3.3 */
  text-underline-offset: 2px; /* need correct */
  cursor: pointer; /* 7 */
}

.content__video-card {
  display: flex; /* 2.5 */
  align-items: flex-start; /* 2.5 */
  width: 390px; /* for text-overflow: ellipsis */
}

.content__video-card-description-container {
  flex-grow: 1; /* 2.7 */
  min-width: 0;
}

.content__video-card-title {
  font: 700 30px/34px Oswald; /* 3.4 */
  text-transform: uppercase;
  /*  white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.content__video-card-description {
  line-height: 17px; /* 3.5 */
  line-clamp: 4; /* 3.5 */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  /*  white-space: nowrap; */
  overflow: hidden;  
  text-overflow: ellipsis;
  text-underline-offset: 0;
}

.content__video-card-thumbnail {
  height: 103px; /* 2.6 */
  min-width: 194px; /* 2.6 */
  object-fit: cover; /* 2.6 */
  object-position: right; /* 2.6 */
}

.more-button {
  width: 390px /*100%*/; /* 5.4 */
  margin: 0 1px;
}

/* states of the elements */

.content__card-link:hover, /* 6 */
.search-form__label:hover .search-form__label-text,  /* 4d.4 */
.button:hover { /* 5.5.1 */
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link_current, /* 6 */
.button:active, /* 5.5.2 */
.content__card-link:active { /* 6 */
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus-visible, /* 6 */
.search-form__fieldset:has(:focus-visible) .search-form__textfield, /* 4c.7 */
.search-form__label:has(:focus-visible), /* 4d.5 */
.button:focus-visible { /* 5.5.3 */
  outline-offset: 1px;
  outline: 1px solid #fff;
}