*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page { /* 1 */
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center; /* 1.1 */
  align-items: center; /* 1.1 */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex; /* 2 */
  width: 1140px; /* 1.3 */
  gap: 30px; /* 1.3 */
/*  padding: 133px 30px;*/
  justify-content: space-between; /* 1.2 */
  align-items: flex-end; /* 1.2*/
}

/* main */
/* section result */

.result {

}

.result__video-container {
  min-width: 711px; /* 2.1 */
  height: 386px; /* 2.1 ??? */
  margin-bottom: 16px; /* 2.1 need correct */
}

.result__video { /* 2.2 */
  width: 100%; /* 2.2 */
  height: 100%; /* 2.2 */
  object-fit: cover; /* 2.2 */
}

/* css for search-form */

.search-form {
  display: flex; /* 1.4 */
  justify-content: space-between; /* 1.4 */
  align-items: flex-start; /* 1.4 */
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title { /* 3.1 */
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 15px; /* need correct */
}

.search-form__label-text {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.visually-hidden { /* 4 */
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
/* ???????????? */
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  background: #FFFFFFB2;
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
}

.search-form__checkbox {

}

.search-form__pseudo-checkbox {

}

/* section content__details */

.content__details {
  flex-grow: 1; /* 1.6 */
  height: 100%; /* 1.6 */
}

.title {
  font: 700 75px/70px Oswald; /* 3.2 */
  text-transform: uppercase; /* 3.2 */
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex; /* 2.4 */
  flex-direction: column; /* 2.4 */
  height: 298px; /* 1.5 */
  overflow: scroll; /* 1.5 */
  gap: 30px; /* 2.4 */
/*  padding-right: 7px; */
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px; /* 2.3 */
}

/* template preloader */

.preloader-template {

}

.preloader {

}

.preloader-chasing-squares {

}

.square {

}

/* template cards-list-item-template */

.cards-list-item-template {

}

.content__list-item {

}

.content__card-link { /* 3.3 */
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex; /* 2.5 */
  align-items: flex-start; /* 2.5 */
}

.content__video-card-description-container {
  flex-grow: 1; /* 2.7 */
}

.content__video-card-title {
  font: 700 30px Oswald; /* 3.4 */
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 17px; /* 3.5 */
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  height: 103px; /* 2.6 */
  min-width: 194px; /* 2.6 */
  object-fit: cover; /* 2.6 */
  object-position: right; /* 2.6 */
}

.search-form__submit-button{

}

/* template more-button-template */

.more-button-template {

}

.button {

}

.more-button {

}

/* template error-template */

.error-template {

}

.error {

}

.error__title {

}

